<footer class="inner">
    <a class="icon_wrap" href="https://www.linkedin.com/in/atharkes/">
        <img class="icon" src="assets/images/linkedin.svg" />
    </a>
    <a class="icon_wrap" href="https://www.linkedin.com/in/atharkes/">
        <img class="icon" src="assets/images/linkedin.svg" />
    </a>
    <a class="icon_wrap" href="https://www.linkedin.com/in/atharkes/">
        <img class="icon" src="assets/images/linkedin.svg" />
    </a>
    <a id="footer_copright" href="https://github.com/atharkes">Copyright Theo Harkes</a>
</footer>