<footer class="inner">
    <a class="icon_wrap" href="https://www.linkedin.com/in/atharkes/">
        <img class="icon" src="assets/images/linkedin.svg" />
    </a>
    <a class="icon_wrap" href="https://www.facebook.com/theoharkes">
        <img class="icon" src="assets/images/facebook.svg" />
    </a>
    <a class="icon_wrap" href="mailto:atharkes@gmail.com">
        <img class="icon" src="assets/images/email.svg" />
    </a>
    <a id="copyright" href="https://github.com/atharkes">Copyright Theo Harkes</a>
</footer>