<header class="inner">
    <img id="header_image" src="assets/images/harkes.png" />
    <div id="header_title">
        <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
        <a class="icon_wrap" target="_blank" href="https://www.linkedin.com/in/atharkes"><img class="icon" src="assets/images/linkedin.svg" /></a>
        <a class="icon_wrap" target="_blank" href="https://www.facebook.com/theoharkes"><img class="icon" src="assets/images/facebook.svg" /></a>
        <a class="icon_wrap" target="_blank" href="https://github.com/atharkes"><img class="icon" src="assets/images/github.svg" /></a>
        <a class="icon_wrap" href="mailto:atharkes@gmail.com"><img class="icon" src="assets/images/email.svg" /></a>
        <a class="icon_wrap" target="_blank" href="https://goo.gl/maps/Wip8oqda9AYwouMQ8"><img class="icon" src="assets/images/location.svg" /></a>
    </div>
    <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
</header>