---
---

@import "{{ site.theme }}";

// CSS
#project_image {
    float: right;
    max-width: 30%;
}

img {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.icon {
    max-height: 2em;
    max-width: 2em;
    filter: invert(0.5)
}

.icon_wrap {
    margin-left: 5px;
}

footer {
    overflow: hidden;
}

footer #copyright {
    float: right;
}