---
---

@import "{{ site.theme }}";

// CSS
#project_image {
    float: right;
    max-height: 100%;
    max-width: 30%;
    border: none;
}

footer {
    overflow: hidden;
}

footer a {
    float: right;
}