---
---

@import "{{ site.theme }}";

// Push Footer Down
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
    background-color: #f2f2f2;
}

#main_content_wrap {
    border: 0;
    padding-bottom: 4.5em;
}

#footer_wrap {
    position: absolute;
    bottom: 0;
    height: 4.5em;
}

.inner {
    padding: 1.5em 0.75em;
}

// Styling
#header_wrap {
    background: -webkit-linear-gradient(top, #323030, #212121);
    border-bottom-width: 1px;
}

#header_image {
    float: right;
    max-width: 30%;
}

#main_content_wrap {
    background-color: transparent;
}

#body {
    background-color: #0c0a0b;
    color: #aaaaa7;
}

#project_title {
    display: inline-block;
}

img {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.icon {
    height: 1.5em;
    filter: invert(0.5)
}

.icon:hover {
    filter: invert(0.5) sepia(1) hue-rotate(90deg) contrast(5) brightness(0.4)
}

.icon_wrap {
    margin-left: 5px;
}

footer {
    overflow: hidden;
    border-top-width: 1px;
}

footer #copyright {
    float: right;
    line-height: 1.5em;
}